[Desktop Entry]
# Most names are automatic translated using https://deepl.com
Name[bg]=Будилник
Name[cs]=Budík
Name[da]=Vækkeur
Name[de]=Wecker
Name[el]=Ξυπνητήρι
Name[en_GB]=Alarm
Name[eo]=Vekhorloĝo
Name[es]=Despertador
Name[et]=Äratuskell
Name[fi]=Herätyskello
Name[fr]=Réveil
Name[hu]=Ébresztőóra
Name[it]=Sveglia
Name[ja]=目覚まし時計
Name[lt]=Žadintuvas
Name[lv]=Modinātājs
Name[nl]=Wekker
Name[pl]=Budzik
Name[pt]=Despertador
Name[pt_BR]=Despertador
Name[ro]=Deșteptător
Name[ru]=Будильник
Name[sk]=Budík
Name[sl]=Budilka
Name[sv]=Väckarklocka
Name[tr]=Çalar saat
Name[uk]=Будильник
Name[zh]=闹钟
Name=Alarm
# Most generic names are automatic translated using https://deepl.com
GenericName[bg]=Будилник
GenericName[cs]=Budík
GenericName[da]=Vækkeur
GenericName[de]=Wecker
GenericName[el]=Ξυπνητήρι
GenericName[en_GB]=Alarm
GenericName[eo]=Vekhorloĝo
GenericName[es]=Despertador
GenericName[et]=Äratuskell
GenericName[fi]=Herätyskello
GenericName[fr]=Réveil
GenericName[hu]=Ébresztőóra
GenericName[it]=Sveglia
GenericName[ja]=目覚まし時計
GenericName[lt]=Žadintuvas
GenericName[lv]=Modinātājs
GenericName[nl]=Wekker
GenericName[pl]=Budzik
GenericName[pt]=Despertador
GenericName[pt_BR]=Despertador
GenericName[ro]=Deșteptător
GenericName[ru]=Будильник
GenericName[sk]=Budík
GenericName[sl]=Budilka
GenericName[sv]=Väckarklocka
GenericName[tr]=Çalar saat
GenericName[uk]=Будильник
GenericName[zh]=闹钟
GenericName=Alarm
# Most comments are automatic translated using https://deepl.com
Comment[bg]=Будилник за GNOME, който събужда устройството от сън
Comment[cs]=Budík pro GNOME, který probudí zařízení ze spánku
Comment[da]=Vækkeur til GNOME, der vækker enheden fra dvale
Comment[de]=Wecker für GNOME, der das Gerät aus dem Ruhezustand aufweckt
Comment[el]=Ξυπνητήρι για το GNOME που ξυπνάει τη συσκευή από τον ύπνο
Comment[en_GB]=Alarm App for GNOME which wakes from suspend
Comment[eo]=Vekhorloĝo por GNOME, kiu vekas aparaton de suspendo
Comment[es]=Despertador para GNOME que despierta el dispositivo del sueño
Comment[et]=GNOME äratuskell, mis äratab seadme unest üles
Comment[fi]=GNOMEn herätyskello, joka herättää laitteen unesta
Comment[fr]=Réveil pour GNOME qui réveille le dispositif de son sommeil
Comment[hu]=Ébresztőóra a GNOME-hoz, amely felébreszti az eszközt alvásból
Comment[it]=Sveglia per GNOME che sveglia il dispositivo dalla spospensione
Comment[ja]=スリープから復帰させる GNOME 向け目覚まし時計
Comment[lt]=GNOME žadintuvas, kuris pažadina įrenginį iš miego
Comment[lv]=GNOME modinātājs, kas modina ierīci no miega režīma
Comment[nl]=Wekker voor GNOME die het apparaat uit de slaapstand wekt
Comment[pl]=Budzik dla GNOME, który budzi urządzenie z uśpienia
Comment[pt]=Despertador para GNOME que acorda o dispositivo do sono
Comment[pt_BR]=Despertador para o GNOME que acorda o dispositivo do sono
Comment[ro]=Ceas deșteptător pentru GNOME care trezește dispozitivul din somn
Comment[ru]=Будильник для GNOME, который пробуждает устройство от сна
Comment[sk]=Budík pre GNOME, ktorý budí zariadenie zo spánku
Comment[sl]=Budilka za GNOME, ki zbudi napravo iz spanja
Comment[sv]=Väckarklocka för GNOME som väcker enheten från sömnen
Comment[tr]=GNOME için cihazı uykudan uyandıran çalar saat
Comment[uk]=Будильник для GNOME, який пробуджує пристрій від сну
Comment[zh]=用于GNOME的闹钟，将设备从睡眠中唤醒
Comment=Alarm App for GNOME which wakes from suspend
# Most keywords are automatic translated using https://deepl.com
Keywords[bg]=време;таймер;будилник;
Keywords[cs]=čas;časovač;budík;
Keywords[da]=tid;timer;vækkeur;
Keywords[de]=zeit;timer;wecker;
Keywords[el]=χρόνος;χρονοδιακόπτης;ξυπνητήρι;
Keywords[en_GB]=time;timer;alarm;
Keywords[eo]=tempo;tempigilo;minutatoro;vekhorloĝo;
Keywords[es]=tiempo;temporizador;despertador;
Keywords[et]=aeg;taimer;äratuskell;
Keywords[fi]=aika;ajastin;herätyskello;
Keywords[fr]=heure;minuterie;réveil;
Keywords[hu]=idő;időzítő;ébresztőóra;
Keywords[it]=tempo;timer;sveglia;allarme;
Keywords[ja]=時間;タイマー;目覚まし時計;
Keywords[lt]=laikas;laikmatis;žadintuvas;
Keywords[lv]=laiks;taimeris;modinātājs;
Keywords[nl]=tijd;timer;wekker;
Keywords[pl]=czas;timer;budzik;
Keywords[pt]=tempo;temporizador;despertador;
Keywords[pt_BR]=tempo;temporizador;despertador;
Keywords[ro]=timp;cronometru;deșteptător;
Keywords[ru]=время;таймер;будильник;
Keywords[sk]=čas;časovač;budík;
Keywords[sl]=čas;časovnik;budilka;
Keywords[sv]=tid,timer,väckarklocka;
Keywords[tr]=zaman;zamanlayıcı;çalar;saat;
Keywords[uk]=час;таймер;будильник;
Keywords[zh]=时间;定时器;闹钟;
Keywords=time;timer;alarm;
Exec=alarm
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.github.bytezz.alarm
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Clock;
StartupNotify=true
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
